.DS_Store
.idea
node_modules
typings
app/**/*.js
app/**/*.js.map
test/**/*.js
test/**/*.js.map
coverage
.nyc_output
*.iml
dist
tmp
/test/resources/fakeProjects/node_tmp/
/test/resources/fakeProjects/playframework_tmp/
